@import "../abstract/variaveis";

.categoria {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 0 auto;

  .categoria__titulo {
    font-size: 18px;
    color: $cinzaTitulo;
    font-weight: 700;
  }

  .categoria__filmes {
    display: grid;
    width: 100vw;

    .swiper {
      width: 100%;

      .filme-img {
        // transition: transform 0.2s;
        border-radius: 2px;

        // &:hover {
        //   position: relative;
        //   z-index: 1;
        //   transform: scale(1.5);
        // }
      }
    }
  }
}
